* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

body {
  background: url("../images/background.jpg");
  background-repeat: repeat;
}

/* header */
header {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 83px;
  background: url("../images/cabezote.jpg");
}

/* fin header */
/* logo */
#logo {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 188px;
  height: 47px;
}

/* fin logo */
/* nav */
nav {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 45px;
  border-bottom: 1px solid "#bcdlcb";
  background: url("../images/nav.jpg");
}
nav button {
  color: white;
}
nav div div .navbar-nav .nav-item .nav-link {
  color: white;
}
nav div div .navbar-nav .nav-item .nav-link:hover {
  color: rgb(37, 37, 37);
}

/* fin nav */
/* slide */
#slide {
  position: relative;
  margin: auto;
  width: 1000px;
}

/* fin slide */
/* section INICIO*/
section#inicio {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
}
section#inicio ul {
  display: grid;
  height: 299px;
  grid-template-columns: 333px 333px 333px;
  padding: 0;
}
section#inicio ul li h1 {
  text-align: center;
  margin: 23px 27px;
  font-weight: 100;
  font-size: 25px;
}
section#inicio ul li p {
  margin: 23px 28px;
  font-size: 16px;
}
section#inicio ul li img {
  margin: -20px 29px;
  width: 273px;
  height: 83px;
}

.acercar {
  overflow: hidden;
}
.acercar img {
  transition: all 0.1s;
}
.acercar:hover img {
  transform: scale(0.00000001);
}

/* fin section INICIO*/
/* section QUIENES SOMOS*/
section#quienesSomos {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
}
section#quienesSomos h1 {
  position: relative;
  top: 15px;
  left: 27px;
  color: #1f1d21;
  font-weight: 100;
}
section#quienesSomos hr {
  position: relative;
  top: 20px;
  width: 980px;
  margin: auto;
  border: 1px solid rgba(198, 198, 198, 0.7764705882);
}
section#quienesSomos .contenido {
  display: flex;
  justify-content: center;
  padding: 30px;
}
section#quienesSomos .contenido img {
  width: 272px;
  margin: 20px;
  margin-bottom: 20px;
}
section#quienesSomos .contenido p {
  width: 950px;
  margin: auto;
  color: #414042;
  text-align: justify;
}

/* fin section QUIENES SOMOS*/
/* section SERVICIOS*/
section#servicios {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
  padding: 5px 5px;
}
section#servicios .row {
  margin: auto;
  padding: auto;
  display: flex;
  align-content: space-between;
  justify-content: center;
  gap: 10px;
}
section#servicios .row .col {
  padding: 0;
}

.acercar {
  overflow: hidden;
}
.acercar img {
  transition: all 2s;
}
.acercar:hover img {
  transform: scale(1.5);
}

/* fin section SERVICIOS*/
/* section SUCURSAL*/
section#sucursal {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
}
section#sucursal h1 {
  position: relative;
  top: 15px;
  left: 27px;
  color: #1f1d21;
  font-weight: 100;
}
section#sucursal hr {
  position: relative;
  top: 20px;
  width: 980px;
  margin: auto;
  border: 1px solid rgba(198, 198, 198, 0.7764705882);
}
section#sucursal .contenido {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section#sucursal .contenido img {
  width: 272px;
  margin: 20px;
  margin-bottom: 20px;
}
section#sucursal .contenido ul li {
  text-align: left;
  font-size: 15px;
  list-style-image: url("../images/list.png");
}
section#sucursal .contenido iframe {
  width: 272px;
  margin: 20px;
  margin-bottom: 20px;
}

/* fin section SUCURSAL*/
/* section CONTACTO*/
section#contacto {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
}
section#contacto #filaPrincipal {
  margin: auto;
  width: 100%;
}
section#contacto #filaPrincipal #colImagen img {
  margin: auto;
  width: 100%;
  height: auto;
}
section#contacto #filaPrincipal #colForm {
  position: relative;
  margin: auto;
  height: auto;
}
section#contacto #filaPrincipal #colForm form {
  position: relative;
  margin: auto;
  top: 32px;
  height: auto;
  background: white;
}

/* fin section CONTACTO*/
/* bottom */
#bottom {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 190px;
  background: url("../images/backBottom.jpg");
}
#bottom ul li {
  height: 190px;
}
#bottom ul li h1 {
  text-align: center;
  margin: 13px 18px;
  color: white;
  font-size: 18px;
  font-weight: 100;
}
#bottom ul li ol {
  position: relative;
  top: 15px;
  left: 17px;
  width: 190px;
  height: 80px;
  padding: 0;
  text-align: left;
}
#bottom ul li ol li {
  width: 250px;
  height: 20px;
  text-align: left;
  list-style: inside;
  color: white;
  list-style-image: url("../images/list.png");
}
#bottom ul li img {
  position: relative;
  top: 15px;
  left: 80px;
  width: 100px;
  height: 100px;
  border: 4px solid white;
  background: silver;
}
#bottom ul li ul {
  position: relative;
  top: 11px;
  left: 15px;
  width: 200px;
  height: 40px;
  padding: 0;
}
#bottom ul li ul li {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: white;
  margin: 5px;
}
#bottom ul li ul li:first-child {
  background: url("../images/facebook.jpg");
  background-size: cover;
}
#bottom ul li ul li:nth-child(2) {
  background: url("../images/iconoGoogle.jpg");
  background-size: cover;
  align-items: start;
}
#bottom ul li ul li:nth-child(3) {
  background: url("../images/iconoPinterest.jpg");
  background-size: cover;
}
#bottom ul li ul li:last-child {
  background: url("../images/iconoTwitter.jpg");
  background-size: cover;
}
#bottom ul li ul li a {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#detalle {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  justify-items: normal;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

/* fin bottom */
/* footer */
footer {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 62px;
  text-align: center;
  color: white;
  line-height: 62px;
  font-size: 15px;
  background: black;
}

/* fin footer */
/* AQUI INICIA LAS MEDIAS QUERYS */
@media only screen and (max-width: 480px) {
  /* header */
  header {
    position: relative;
    margin: auto;
    width: 100%;
    height: 70px;
  }
  /* fin header */
  /* barra nav*/
  nav {
    width: 100%;
    height: auto;
    background-size: cover;
  }
  nav div div .navbar-nav .nav-item .nav-link {
    color: white;
  }
  /* FIN barra nav*/
  /* slide */
  #slide {
    margin: auto;
    width: 100%;
    height: auto;
  }
  /* fin slide */
  /* seccion de inicio*/
  section#inicio {
    width: 100%;
    height: auto;
  }
  section#inicio ul {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 20px;
  }
  section#inicio ul li h1 {
    margin: 20px;
    font-size: 22px;
  }
  section#inicio ul li p {
    margin: 20px;
    font-size: 14px;
  }
  section#inicio ul li img {
    margin: 0;
    width: 100%;
    height: auto;
  }
  /* seccion inicio: fin */
  /* section QUIENES SOMOS*/
  section#quienesSomos {
    width: 100%;
    height: auto;
  }
  section#quienesSomos h1 {
    width: 100%;
    height: auto;
  }
  section#quienesSomos hr {
    width: 100%;
    height: auto;
  }
  section#quienesSomos .contenido {
    flex-wrap: wrap;
    justify-content: center;
  }
  section#quienesSomos .contenido img {
    margin: 0;
    width: 100%;
    height: auto;
  }
  section#quienesSomos .contenido p {
    width: 100%;
    text-align: justify;
    margin: auto;
    color: #414042;
    text-align: justify;
  }
  /* fin section QUIENES SOMOS*/
  /* section SERVICIOS*/
  section#servicios {
    width: 100%;
    height: auto;
  }
  /* fin section SERVICIOS*/
  section#sucursal {
    margin: auto;
    width: 100%;
    height: auto;
  }
  section#sucursal h1 {
    width: 100%;
    height: auto;
    margin: auto;
  }
  section#sucursal hr {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border: 1px solid rgba(198, 198, 198, 0.7764705882);
  }
  section#sucursal .contenido {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  section#sucursal .contenido img {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
  section#sucursal .contenido ul li {
    width: 100%;
    text-align: left;
    font-size: 15px;
    list-style-image: url("../images/list.png");
  }
  section#sucursal .contenido iframe {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
  section#contacto {
    margin: auto;
    width: 100%;
    height: auto;
    background: white;
  }
  section#contacto #filaPrincipal {
    margin: auto;
    width: 100%;
  }
  section#contacto #filaPrincipal #colImagen {
    width: 100%;
    height: auto;
  }
  section#contacto #filaPrincipal #colImagen img {
    margin: auto;
    width: 100%;
    height: auto;
  }
  section#contacto #filaPrincipal #colForm {
    margin: auto;
    width: 100%;
    height: 425px;
  }
  section#contacto #filaPrincipal #colForm form {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0;
  }
  /* seccion de bottom*/
  #bottom {
    width: 100%;
    height: auto;
  }
  #bottom ul li {
    width: 100%;
    margin: auto;
  }
  #bottom ul li h1 {
    margin: 20px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    color: aqua;
  }
  #bottom ul li ol {
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 18px;
    text-align: center;
  }
  #bottom ul li ol li {
    width: 100%;
    height: auto;
  }
  #bottom ul li img {
    top: 10px;
    left: 150px;
    width: 120px;
    height: 120PX;
  }
  #bottom ul li ul {
    top: 1px;
    left: 90px;
    width: 100%;
  }
  #bottom ul li ul li {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 5px;
  }
  #detalle {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    height: auto;
  }
  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* FIN de bottom*/
  /* footer */
  footer {
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 62px;
    font-size: 15px;
    background: black;
  }
  /* fin footer */
}
@media only screen and (min-width: 480px) {
  /* header */
  header {
    position: relative;
    margin: auto;
    width: 100%;
    height: 70px;
  }
  /* fin header */
  /* barra nav*/
  nav {
    width: 100%;
    height: auto;
    background-size: cover;
  }
  nav div div .navbar-nav .nav-item .nav-link {
    color: white;
  }
  /* FIN barra nav*/
  /* slide */
  #slide {
    margin: auto;
    width: 100%;
    height: auto;
  }
  /* fin slide */
  /* seccion de inicio*/
  section#inicio {
    width: 100%;
    height: auto;
  }
  section#inicio ul {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 10px;
  }
  section#inicio ul li h1 {
    margin: 20px;
    font-size: 22px;
  }
  section#inicio ul li p {
    margin: 20px;
    font-size: 14px;
  }
  section#inicio ul li img {
    margin: 0;
    width: 100%;
    height: auto;
  }
  /* seccion inicio: fin */
  /* section QUIENES SOMOS*/
  section#quienesSomos {
    width: 100%;
    height: auto;
  }
  section#quienesSomos h1 {
    width: 100%;
    height: auto;
  }
  section#quienesSomos hr {
    width: 100%;
    height: auto;
  }
  section#quienesSomos .contenido {
    flex-wrap: wrap;
    justify-content: center;
  }
  section#quienesSomos .contenido img {
    margin: 0;
    width: 100%;
    height: auto;
  }
  section#quienesSomos .contenido p {
    width: 100%;
    text-align: justify;
    margin: auto;
    color: #414042;
    text-align: justify;
  }
  /* fin section QUIENES SOMOS*/
  /* seccion de servicios*/
  section#servicios {
    width: 100%;
    height: auto;
  }
  /* fin section SERVICIOS*/
  section#sucursal {
    margin: auto;
    width: 100%;
    height: auto;
  }
  section#sucursal h1 {
    width: 100%;
    height: auto;
    margin: auto;
  }
  section#sucursal hr {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border: 1px solid rgba(198, 198, 198, 0.7764705882);
  }
  section#sucursal .contenido {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  section#sucursal .contenido img {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
  section#sucursal .contenido ul li {
    text-align: left;
    font-size: 15px;
    list-style-image: url("../images/list.png");
  }
  section#sucursal .contenido iframe {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
  section#contacto {
    margin: auto;
    width: 100%;
    height: auto;
    background: white;
  }
  section#contacto #filaPrincipal {
    margin: auto;
    width: 100%;
  }
  section#contacto #filaPrincipal #colImagen {
    width: 100%;
    height: auto;
  }
  section#contacto #filaPrincipal #colImagen img {
    margin: auto;
    width: 100%;
    height: auto;
  }
  section#contacto #filaPrincipal #colForm {
    margin: auto;
    width: 100%;
    height: 425px;
  }
  section#contacto #filaPrincipal #colForm form {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0;
  }
  /* seccion de bottom*/
  #bottom {
    width: 100%;
    height: auto;
  }
  #bottom ul li {
    width: 100%;
    margin: auto;
  }
  #bottom ul li h1 {
    margin: 20px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    color: aqua;
  }
  #bottom ul li ol {
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 18px;
    text-align: center;
  }
  #bottom ul li ol li {
    width: 100%;
    height: auto;
  }
  #bottom ul li img {
    top: 10px;
    left: auto;
    width: 120px;
    height: 120PX;
  }
  #bottom ul li ul {
    top: 1px;
    left: 90px;
    width: 100%;
  }
  #bottom ul li ul li {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 5px;
  }
  #detalle {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    height: auto;
  }
  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* FIN de bottom*/
  /* footer */
  footer {
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 62px;
    font-size: 15px;
    background: black;
  }
  /* fin footer */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* barra nav*/
  nav {
    width: 100%;
    height: auto;
  }
  nav div div .navbar-nav .nav-item .nav-link {
    color: white;
  }
  /* slide */
  #slide {
    margin: auto;
    width: 100%;
    height: auto;
  }
  /* fin slide */
  /* seccion de inicio*/
  section#inicio {
    width: 100%;
    height: auto;
    display: grid;
  }
  section#inicio ul {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
  }
  section#inicio ul li h1 {
    margin: 20px;
    font-size: 22px;
  }
  section#inicio ul li p {
    margin: 20px;
    font-size: 14px;
  }
  section#inicio ul li img {
    margin: 0;
    width: 100%;
    height: auto;
  }
  /* fin seccion inicio */
  /* section QUIENES SOMOS*/
  section#quienesSomos {
    width: 100%;
    height: auto;
  }
  section#quienesSomos h1 {
    width: 100%;
    height: auto;
  }
  section#quienesSomos hr {
    width: 100%;
    height: auto;
  }
  section#quienesSomos .contenido {
    flex-wrap: wrap;
    justify-content: center;
  }
  section#quienesSomos .contenido img {
    margin: 0;
    width: 50%;
    height: auto;
  }
  section#quienesSomos .contenido p {
    width: 50%;
    text-align: justify;
    margin: auto;
    color: #414042;
    text-align: justify;
  }
  /* fin section QUIENES SOMOS*/
  /* section SERVICIOS*/
  section#servicios {
    width: 100%;
    height: auto;
  }
  /* fin section SERVICIOS*/
  section#sucursal {
    margin: auto;
    width: 100%;
    height: auto;
  }
  section#sucursal h1 {
    width: 100%;
    height: auto;
    margin: auto;
  }
  section#sucursal hr {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border: 1px solid rgba(198, 198, 198, 0.7764705882);
  }
  section#sucursal .contenido {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
  }
  section#sucursal .contenido img {
    width: 300px;
    margin: 20px;
    margin-bottom: 20px;
  }
  section#sucursal .contenido ul li {
    text-align: left;
    font-size: 15px;
    list-style-image: url("../images/list.png");
  }
  section#sucursal .contenido iframe {
    width: 300px;
    margin: 20px;
    margin-bottom: 20px;
  }
  section#contacto {
    margin: auto;
    width: 100%;
    height: auto;
    background: white;
  }
  section#contacto #filaPrincipal {
    margin: auto;
    width: 100%;
  }
  section#contacto #filaPrincipal #colImagen {
    width: 100%;
    height: auto;
  }
  section#contacto #filaPrincipal #colImagen img {
    margin: auto;
    width: 100%;
    height: auto;
  }
  section#contacto #filaPrincipal #colForm {
    margin: auto;
    width: 100%;
    height: 425px;
  }
  section#contacto #filaPrincipal #colForm form {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0;
  }
  /* seccion de bottom*/
  #bottom {
    width: 100%;
    height: auto;
    padding: 0px;
  }
  #bottom ul li {
    width: 100%;
    text-align: center;
  }
  #bottom ul li h1 {
    margin: 10px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    color: aqua;
  }
  #bottom ul li ol {
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 18px;
    text-align: center;
  }
  #bottom ul li ol li {
    width: 100%;
    height: auto;
  }
  #bottom ul li img {
    top: 20px;
    left: auto;
    width: 120px;
    height: 120PX;
  }
  #bottom ul li ul {
    top: 20px;
    left: auto;
    width: 100%;
  }
  #bottom ul li ul li {
    width: auto;
    height: auto;
    border-radius: auto;
    margin: 5px;
  }
  #detalle {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    justify-content: space-between;
    justify-items: normal;
  }
}
@media only screen and (min-width: 1024px) {
  /* header */
  header {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 83px;
    background: url("../images/cabezote.jpg");
  }
  /* fin header */
  /* logo */
  #logo {
    position: absolute;
    top: 17px;
    left: 15px;
    width: 188px;
    height: 47px;
  }
  /* fin logo */
  /* nav */
  nav {
    width: 1000px;
    height: 45px;
    border-bottom: 1px solid "#bcdlcb";
    background: url("../images/nav.jpg");
  }
  nav div div .navbar-nav .nav-item .nav-link {
    color: white;
  }
  nav div div .navbar-nav .nav-item .nav-linkhover {
    color: aqua;
  }
  /* fin nav */
  /* slide */
  #slide {
    margin: auto;
    width: 1000px;
    height: auto;
  }
  /* fin slide */
  /* section INICIO*/
  section#inicio {
    margin: auto;
    width: 1000px;
    height: 299px;
  }
  section#inicio ul {
    height: 299px;
    grid-template-columns: 333px 333px 333px;
    padding: 0;
  }
  section#inicio ul li h1 {
    margin: 23px 27px;
    font-weight: 100;
    font-size: 25px;
  }
  section#inicio ul li p {
    margin: 23px 28px;
    font-size: 16px;
  }
  section#inicio ul li img {
    margin: -20px 29px;
    width: 273px;
    height: 83px;
  }
  /* fin section INICIO*/
  /* section QUIENES SOMOS*/
  section#quienesSomos {
    margin: auto;
    width: 1000px;
    height: 299px;
  }
  section#quienesSomos h1 {
    top: 15px;
    left: 27px;
    color: #1f1d21;
    font-weight: 100;
  }
  section#quienesSomos hr {
    top: 20px;
    width: 980px;
    margin: auto;
    border: 1px solid rgba(198, 198, 198, 0.7764705882);
  }
  section#quienesSomos .contenido {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: nowrap;
  }
  section#quienesSomos .contenido img {
    width: 272px;
    margin: 20px;
    margin-bottom: 20px;
  }
  section#quienesSomos .contenido p {
    width: 950px;
    margin: auto;
    color: #414042;
    text-align: justify;
  }
  /* fin section QUIENES SOMOS*/
  /* section SERVICIOS*/
  section#servicios {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 299px;
    background: white;
    padding: 5px 5px;
  }
  section#servicios .row {
    margin: auto;
    padding: auto;
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 10px;
  }
  section#servicios .row .col {
    padding: 0;
  }
  /* fin section SERVICIOS*/
  /* section SUCURSAL*/
  section#sucursal {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 299px;
    background: white;
  }
  section#sucursal h1 {
    position: relative;
    top: 15px;
    left: 27px;
    color: #1f1d21;
    font-weight: 100;
  }
  section#sucursal hr {
    top: 20px;
    width: 980px;
    margin: auto;
    border: 1px solid rgba(198, 198, 198, 0.7764705882);
  }
  section#sucursal .contenido {
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  section#sucursal .contenido img {
    width: 250px;
    margin: 40px;
    margin-bottom: 40px;
  }
  section#sucursal .contenido ul li {
    text-align: left;
    font-size: 15px;
    list-style-image: url("../images/list.png");
  }
  section#sucursal .contenido iframe {
    width: 250px;
    margin: 20px;
    margin-bottom: 20px;
  }
  section#contacto {
    margin: auto;
    width: 1000px;
    height: 299px;
    background: white;
  }
  section#contacto #filaPrincipal {
    margin: auto;
    width: 976px;
  }
  section#contacto #filaPrincipal #colImagen {
    width: 317.33px;
    height: auto;
  }
  section#contacto #filaPrincipal #colImagen img {
    margin: auto;
    width: 100%;
    height: auto;
  }
  section#contacto #filaPrincipal #colForm {
    margin: auto;
    width: 634.66px;
    height: 226px;
  }
  section#contacto #filaPrincipal #colForm form {
    margin: auto;
    width: 100%;
    height: 226px;
    padding: 0;
  }
  /* bottom */
  #bottom {
    margin: auto;
    width: 1000px;
    height: 190px;
  }
  #bottom ul li {
    width: 100%;
    height: 190px;
  }
  #bottom ul li h1 {
    text-align: center;
    margin: 13px 18px;
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  #bottom ul li ol {
    top: 15px;
    left: 17px;
    width: 250px;
    height: 80px;
    padding: 0;
    text-align: left;
  }
  #bottom ul li ol li {
    width: 250px;
    height: 20px;
    font-size: 18px;
    text-align: left;
    list-style: inside;
    color: white;
    list-style-image: url("../images/list.png");
    font-size: 16px;
  }
  #bottom ul li img {
    top: 15px;
    left: 80px;
    width: 100px;
    height: 100px;
    border: 4px solid white;
    background: rgb(163, 102, 102);
  }
  #bottom ul li ul {
    top: 11px;
    left: 15px;
    width: 200px;
    height: 40px;
    padding: 0;
  }
  #bottom ul li ul li {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  #bottom ul li ul li a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  #detalle {
    grid-template-columns: 250px 250px 250px 250px;
    align-content: stretch;
    justify-content: center;
    align-items: center;
  }
  /* fin bottom */
  /* footer */
  footer {
    margin: auto;
    width: 1000px;
    height: 62px;
  }
  /* fin footer */
}

/*# sourceMappingURL=styles.css.map */
