$bodyImagen: "../images/background.jpg";
$headerImagen: "../images/cabezote.jpg";
$navImagen:"../images/nav.jpg";
$bottomImagen:"../images/backBottom.jpg";

$widthSeccion: 1000px;
$height:299px;
$background: white;
$listasImagen:"../images/list.png";